{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Mail{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Iceberg' rel='stylesheet'>
        <style>
            body{
                font-family:'Iceberg';
            }
        </style>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="{% static 'mail/iceberg.jfif'%}" width="5%">
            <span class="navbar-brand" href="#">ColdMail</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>